<%= form_for(@restaurant_category) do |f| %>
  <% if @restaurant_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant_category.errors.count, "error") %> prohibited this restaurant_category from being saved:</h2>

      <ul>
      <% @restaurant_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
