<p id="notice"><%= notice %></p>

<h1>Listing Restaurant Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurant_categories.each do |restaurant_category| %>
      <tr>
        <td><%= restaurant_category.name %></td>
        <td><%= link_to 'Show', restaurant_category %></td>
        <td><%= link_to 'Edit', edit_restaurant_category_path(restaurant_category) %></td>
        <td><%= link_to 'Destroy', restaurant_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant category', new_restaurant_category_path %>
