<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :amount %>
    <%= f.input :tax %>
    <%= f.input :tip %>
    <%= f.input :transaction_id %>
    <%= f.input :table_no %>
    <%= f.input :time_to_dispatch_order %>
    <%= f.input :dine_in %>
    <%= f.association :restaurant %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
