<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Tax</th>
      <th>Tip</th>
      <th>Transaction</th>
      <th>Table no</th>
      <th>Time to dispatch order</th>
      <th>Dine in</th>
      <th>Restaurant</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.amount %></td>
        <td><%= order.tax %></td>
        <td><%= order.tip %></td>
        <td><%= order.transaction_id %></td>
        <td><%= order.table_no %></td>
        <td><%= order.time_to_dispatch_order %></td>
        <td><%= order.dine_in %></td>
        <td><%= order.restaurant %></td>
        <td><%= order.user %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
