<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @order.amount %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @order.tax %>
</p>

<p>
  <strong>Tip:</strong>
  <%= @order.tip %>
</p>

<p>
  <strong>Transaction:</strong>
  <%= @order.transaction_id %>
</p>

<p>
  <strong>Table no:</strong>
  <%= @order.table_no %>
</p>

<p>
  <strong>Time to dispatch order:</strong>
  <%= @order.time_to_dispatch_order %>
</p>

<p>
  <strong>Dine in:</strong>
  <%= @order.dine_in %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @order.restaurant %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
