<%= form_for(@dish_category) do |f| %>
  <% if @dish_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dish_category.errors.count, "error") %> prohibited this dish_category from being saved:</h2>

      <ul>
      <% @dish_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
