<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dish_category.name %>
</p>

<%= link_to 'Edit', edit_dish_category_path(@dish_category) %> |
<%= link_to 'Back', dish_categories_path %>
