<html>
<head>

  <style type="text/css">

  
   .form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
</style>



</head>
 <body>



 <div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
       
       <h1 class="text-center login-title">Welcome to  Admin-Panel</h1>
       
       <div class="account-wall">
         <img class="profile-img" src="https://www.google.co.in/search?q=admin+image&client=ubuntu&espv=2&biw=1319&bih=659&tbm=isch&imgil=UUKLBHCvXXv2kM%253A%253BPG8P81ZCrFvIhM%253Bhttp%25253A%25252F%25252Fwww.dnnhero.com%25252FPremium%25252FTutorial%25252FArticleID%25252F131%25252FCreating-an-Admin-user-on-DNN7&source=iu&pf=m&fir=UUKLBHCvXXv2kM%253A%252CPG8P81ZCrFvIhM%252C_&usg=__184gDmkksvaFkjrOM1_ob4MGu1M%3D&ved=0CDYQyjdqFQoTCJuCxrT1kMYCFVN7vAodqLYAkg&ei=81t-Vdu8I9P28QWo7YKQCQ"
                    alt="">


           <div class="form-signin">
			    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			    <%= f.input :email, :placeholder => "Email", required: false, autofocus: true, input_html: {class: 'form-control'} %>
			    <%= f.input :password, :placeholder => "Password", required: false, input_html: {class: 'form-control'} %>
			    <%= f.button :submit, "Log in", :class => 'btn btn-lg btn-primary btn-block' %>
			    <%= f.input :remember_me, inline_label: 'Yes, remember me', html: {class: 'checkbox pull-left'}, as: :boolean if devise_mapping.rememberable? %>
			    <%= render "devise/shared/links", input_html: {class: 'pull-right need-help' } %>
			    
			    <% end %>

			</div>
			    
   				
				 <!-- <label class="checkbox pull-left">
				    <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
				 </label> -->

         
          
        </div>
    </div>
 </div>

      <footer class="footer">
  <small>
     <a href="">Restaurant Admin Panel</a>
    by <a href="">By Vijay</a>
  </small>
  <nav>
    <ul>
      <li><%#= link_to "About",   '#' %></li>
      <li><%#= link_to "Contact", '#' %></li>
     <!--  <li><a href="">News</a></li> -->
    </ul>
  </nav>
</footer>
</body>
</html>