<%= simple_form_for(@restaurant) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :restaurant_name %>
    <%= f.input :description %>
    <%= f.input :available_from %>
    <%= f.input :available_to %>
    <%= f.input :no_of_tables %>
    <%= f.input :email %>
    <%= f.input :address1 %>
    <%= f.input :address2 %>
    <%= f.input :country %>
    <%= f.input :countrycode %>
    <%= f.input :location %>
    <%= f.input :city %>
    <%= f.input :phonenumber %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.association :admin %>
    <%= f.association :restaurant_category %>
    <%= f.input :active %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
