<p id="notice"><%= notice %></p>

<h1>Listing Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Restaurant name</th>
      <th>Description</th>
      <th>Available from</th>
      <th>Available to</th>
      <th>No of tables</th>
      <th>Email</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>Country</th>
      <th>Countrycode</th>
      <th>Location</th>
      <th>City</th>
      <th>Phonenumber</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Admin</th>
      <th>Restaurant category</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.restaurant_name %></td>
        <td><%= restaurant.description %></td>
        <td><%= restaurant.available_from %></td>
        <td><%= restaurant.available_to %></td>
        <td><%= restaurant.no_of_tables %></td>
        <td><%= restaurant.email %></td>
        <td><%= restaurant.address1 %></td>
        <td><%= restaurant.address2 %></td>
        <td><%= restaurant.country %></td>
        <td><%= restaurant.countrycode %></td>
        <td><%= restaurant.location %></td>
        <td><%= restaurant.city %></td>
        <td><%= restaurant.phonenumber %></td>
        <td><%= restaurant.latitude %></td>
        <td><%= restaurant.longitude %></td>
        <td><%= restaurant.admin %></td>
        <td><%= restaurant.restaurant_category %></td>
        <td><%= restaurant.active %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
