<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant name:</strong>
  <%= @restaurant.restaurant_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Available from:</strong>
  <%= @restaurant.available_from %>
</p>

<p>
  <strong>Available to:</strong>
  <%= @restaurant.available_to %>
</p>

<p>
  <strong>No of tables:</strong>
  <%= @restaurant.no_of_tables %>
</p>

<p>
  <strong>Email:</strong>
  <%= @restaurant.email %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @restaurant.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @restaurant.address2 %>
</p>

<p>
  <strong>Country:</strong>
  <%= @restaurant.country %>
</p>

<p>
  <strong>Countrycode:</strong>
  <%= @restaurant.countrycode %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>

<p>
  <strong>City:</strong>
  <%= @restaurant.city %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @restaurant.phonenumber %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @restaurant.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @restaurant.longitude %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @restaurant.admin %>
</p>

<p>
  <strong>Restaurant category:</strong>
  <%= @restaurant.restaurant_category %>
</p>

<p>
  <strong>Active:</strong>
  <%= @restaurant.active %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
