<style type="text/css">
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
</style>
<%= form_tag('/dishes', :method => 'post' ) do |f| %>
  <!-- <%# if @dish.errors.any? %> -->
  <!--   <div id="error_explanation">
      <h2><%#= pluralize(@dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <%# @dish.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <%# end %>
      </ul>
    </div>
  <%# end %> -->

  <div class="field">
    <%= label_tag :name %><br>
    <%= text_field_tag :name %>
  </div>

  <div class="field">
    <%= label_tag :description %><br>
    <%= text_area_tag :description %>
  </div>

 <!--  <div class="field">
    <%#= label_tag :image %><br>
    <%#= file_field_tag :image %>
  </div> -->

  <div class="field">
    <%= label_tag :availablefrom %><br>
    <%= time_field_tag :availablefrom %><br>
  </div>

  <div class="field">
    <%= label_tag :availableto %><br>
    <%= time_field_tag :availableto %><br>

  <div class="field">
    <%= label_tag :price %><br>
    <%= text_field_tag :price %>
  </div>

<footer class="footer">
  <div class= "field">
    <%= label_tag :parameter_1 %><br>
    <%= text_field_tag :parameter_1 %>
  <div>

  <br>

     <%= label_tag :Value1 %>
     <%= text_field_tag :dish_temp1 %>

     <%= label_tag :Price1 %>
     <%= text_field_tag :parameter_1_price_1 %><br>

     <%= label_tag :Value2 %>
      <%= text_field_tag :dish_temp2 %>

     <%= label_tag :Price2 %>
     <%= text_field_tag :parameter_1_price_2 %><br>

      <%= label_tag :Value3 %>
      <%= text_field_tag :dish_temp3 %>

      <%= label_tag :Price3 %>
      <%= text_field_tag :parameter_1_price_3 %><br>

      <%= label_tag :Value4 %>
      <%= text_field_tag :dish_temp4 %>

      <%= label_tag :Price4 %>
      <%= text_field_tag :parameter_1_price_4 %><br>

      
      <%= label_tag :Value5 %>
      <%= text_field_tag :dish_temp5 %>

      <%= label_tag :Price5 %>
      <%= text_field_tag :parameter_1_price_5 %>

        
  </div>
</footer>

<br>
<footer class="footer">
  <div class = "field">
      <%= label_tag  :parameter_2 %><br>
      <%= text_field_tag :parameter_2 %>
  </div>

<br>

  <div class = "field">
      <%= label_tag :Value1 %>
      <%= text_field_tag :parameter_2_temp_1 %>

      <%= label_tag :Price1 %>
      <%= text_field_tag :parameter_2_price_1 %><br>

      <%= label_tag :Value2 %>
      <%= text_field_tag :parameter_2_temp_2 %>

      <%= label_tag :Price2 %>
      <%= text_field_tag :parameter_2_price_2 %><br>


      <%= label_tag :Value3 %>
      <%= text_field_tag :parameter_2_temp_3 %>

      <%= label_tag :Price3 %>
      <%= text_field_tag :parameter_2_price_3 %><br>

     <%= label_tag :Value4 %>
     <%= text_field_tag :parameter_2_temp_4 %>

     <%= label_tag :Price4 %>
     <%= text_field_tag :parameter_2_price_4 %><br>

     <%= label_tag :Value5 %>
     <%= text_field_tag :parameter_2_temp_5 %>

    <%= label_tag :Price5 %>
    <%= text_field_tag :parameter_2_price_5%><br>


  </div>
  </footer>
<br>

<footer class="footer">
   <div class="field">
    <%= label_tag :parameter_3 %><br>
    <%= text_field_tag :parameter_3 %>
    </div>
<br>
    
    <div class= "field">
    <%= label_tag :Value1 %>
    <%= text_field_tag :parameter_3_temp_1 %>

    <%= label_tag :Price1 %>
    <%= text_field_tag :parameter_3_price_1 %><br>

    <%= label_tag :Value2 %>
    <%= text_field_tag :parameter_3_temp_2 %>

    <%= label_tag :Price2 %>
    <%= text_field_tag :parameter_3_price_2 %><br>

    <%= label_tag :Value3 %>
    <%= text_field_tag :parameter_3_temp_3 %>

    <%= label_tag :Price3 %>
    <%= text_field_tag :parameter_3_price_3 %><br>    

    <%= label_tag :Value4 %>
    <%= text_field_tag :parameter_3_temp_4 %>

    <%= label_tag :Price4 %>
    <%= text_field_tag :parameter_3_price_4 %><br>

    <%= label_tag :Value5 %>
    <%= text_field_tag :parameter_3_temp_5 %>

    <%= label_tag :Price5 %>
    <%= text_field_tag :parameter_3_price_5 %> <br>

    </div>
    </footer>

    <footer class="footer">
    <div class="field">
      <%= label_tag :parameter_4 %><br>
      <%= text_field_tag :parameter_4 %>
      </div>
<br>
      <div class="field">
        <%= label_tag :Value1 %>
        <%= text_field_tag :parameter_4_temp_1 %>

        <%= label_tag :Price1 %>
        <%= text_field_tag :parameter_4_price_1 %><br>

        <%= label_tag :Value2 %>
        <%= text_field_tag :parameter_4_temp_2 %>

        <%= label_tag :Price2 %>
        <%= text_field_tag :parameter_4_price_2 %><br>

        <%= label_tag :Value3 %>
        <%= text_field_tag :parameter_4_temp_3 %>

        <%= label_tag :Price3%>
        <%= text_field_tag :parameter_4_price_3 %><br>

        <%= label_tag :Value4 %>
        <%= text_field_tag :parameter_4_temp_4 %>

        <%= label_tag :Price4 %>
        <%= text_field_tag :parameter_4_price_4 %><br>

         <%= label_tag :Value5 %>
         <%= text_field_tag :parameter_4_temp_5 %>

         <%= label_tag :Price5 %>
         <%= text_field_tag :parameter_4_price_5 %><br>



      </div>
      </footer>

       <footer class="footer">          
      <div class="field">
        <%= label_tag :parameter_5 %><br>
        <%= text_field_tag :parameter_5 %>
      </div>   

<br>
      <div class="field">
        <%= label_tag :Value1 %>
        <%= text_field_tag :parameter_5_temp_1 %>

        <%= label_tag :Price1 %>
        <%= text_field_tag :parameter_5_price_1 %><br>

        <%= label_tag :Value2 %>
        <%= text_field_tag :parameter_5_temp_2 %>

        <%= label_tag :Price2 %>
        <%= text_field_tag :parameter_5_price_2 %><br>

        <%= label_tag :Value3 %>
        <%= text_field_tag :parameter_5_temp_3 %>

        <%= label_tag :Price3 %>
        <%= text_field_tag :parameter_5_price_3 %><br>

        <%= label_tag :Value4 %>
        <%= text_field_tag :parameter_5_temp_4 %>

        <%= label_tag :Price4 %>
        <%= text_field_tag :parameter_5_price_4 %><br>

        <%= label_tag :Value5 %>
        <%= text_field_tag :parameter_5_temp_5 %>

        <%= label_tag :Price5 %>
        <%= text_field_tag :parameter_5_price_5 %>

      </div>
</footer>


<footer class="footer">
    <div class="field">
    <%= label_tag :dish_category %><br>

    <!-- <%#= select_tag 'dish_category', options_for_select(DishCategory.all.collect{ |p| [ p. name] }) %> -->

    <!-- <%#= select_tag("dish_category_name", "dish_category_id", DishCategory.all.collect{|p| [p.name, p.id]}, {prompt: 'Choose Dish Category'}) %> -->

   <%= select_tag( "dish_category_id",options_for_select(DishCategory.all.collect{|p| [p.name, p.id.to_s]})) %>
  </div>
  </footer>
<br>

<div class="field">
<%= label_tag :DishProperties %>
</div>
 <br>
  <div class="field">
      <%= label_tag :Chilly %>
      <%= check_box_tag :dish, :dish_property_chilly %>

      <%= label_tag :Vegan %>
      <%= check_box_tag :dish, :dish_property_vegan %>

      <%= label_tag :GlutenFree %>
      <%=  check_box_tag :dish_property_glutenFree %>

      <%= label_tag :Vegetarian %>
      <%= check_box_tag :dish_property_vegetarian %>

      <%= label_tag :NutFree %>
      <%= check_box_tag :dish_property_nutFree %>
 </div>
 
    <div> 
    <%= hidden_field_tag :restaurant_id, @restaurant.id %>
    </div>
    
    <br>
  <div class="field">
    <%= label_tag :Activate %>
    <%= check_box_tag :active %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
