<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th class="shrink">
                <input type="checkbox" class="toggle">
            </th>
            
            <th title="" rel="tooltip" data-href="/admin/customer?model_name=customer&amp;sort=id" class="header pjax  id_field integer_type" data-original-title="">Order-Id</th>
            
            <th class="header pjax  name_field string_type" data-original-title="">User-Name</th>
           
            <th  class="header pjax  email_field string_type" data-original-title="">Amount</th>
            
          <!--   <th  class="header pjax  mobile_field string_type" data-original-title="">Tax</th>
           
            <th class="header pjax  CreditCard_field string_type" data-original-title="">Tip</th>
            
            <th class="header pjax  CVV_field string_type" data-original-title="">Transaction</th> -->
            
            <th class="header pjax  CVV_field string_type" data-original-title="">Table No</th>
            
            <th class="header pjax  CVV_field string_type" data-original-title="">Time to Dispatch
            </th>            
            
            <th></th>



        </tr>
    </thead>
    <tbody>
    	<% @orders.each do |order| %>
			<tr class="customer_row">
	            <td>
	                <input type="checkbox" value="1" id="bulk_ids_" name="bulk_ids[]">
	            </td>
	            <td title="1" class="id_field integer_type"><%= order.id %></td>
	            <td title="1" class="id_field integer_type"><%= order.user.first_name %></td>
	            <td title="tester" class="name_field string_type"><%= order.amount %></td>
	  <!--           <td title=" - " class="email_field string_type"><%#= order.tax %></td>
	            <td title=" - " class="mobile_field string_type"><%#= order.tip %></td>
	            <td title=" - " class="CreditCard_field string_type"><%#=order.transaction_id %></td> -->
	            <td title=" - " class="CVV_field string_type"><%= order.table_no %></td>
	            <td title=" - " class="CVV_field string_type"><%=order.time_to_dispatch_order%>
	            </td>
	            <td class="last links">
	                <ul class="inline">
	                    <li class="icon show_member_link " rel="tooltip" title="Show">
	                        <a href="/admin/customer/1" class="pjax">
	                        <i class="icon-info-sign"></i>
	                        <span style="display:none">Show</span>
	                        </a>
	                    </li>
	                    <li class="icon edit_member_link " rel="tooltip" title="Edit">
	                        <a href="/admin/customer/1/edit" class="pjax">
	                        <i class="icon-pencil"></i>
	                        <span style="display:none">Edit</span>
	                        </a>
	                    </li>
	                    <li class="icon delete_member_link " rel="tooltip" title="Delete">
	                        <a href="/admin/customer/1/delete" class="pjax">
	                        <i class="icon-remove"></i>
	                        <span style="display:none">Delete</span>
	                        </a>
	                    </li>
	                    <li class="icon show_in_app_member_link " rel="tooltip" title="Show in app">
	                        <a href="/admin/customer/1/show_in_app" class="">
	                        <i class="icon-eye-open"></i>
	                        <span style="display:none">Show in app</span>
	                        </a>
	                    </li>
	                </ul>
	            </td>
        	</tr>
		<% end %>        
    </tbody>
</table>

