<h1>Order Details </h1>

<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th class="shrink">
                <input type="checkbox" class="toggle">
            </th>
            
            <th title="" rel="tooltip" data-href="/admin/customer?model_name=customer&amp;sort=id" class="header pjax  id_field integer_type" data-original-title="">Dish-Name</th>
            
            <th class="header pjax  name_field string_type" data-original-title="">Quantity</th>
           
            <th  class="header pjax  email_field string_type" data-original-title="">Dish-Id</th>

            <th  class="header pjax  email_field string_type" data-original-title="">Order-Id</th>

            <th  class="header pjax  email_field string_type" data-original-title="">Paramter1(eg:Big)</th>

            <th  class="header pjax  email_field string_type" data-original-title="">Param2</th>

            <th  class="header pjax  email_field string_type" data-original-title="">Param3</th>

            <th  class="header pjax  email_field string_type" data-original-title="">Option1</th>

            <th  class="header pjax  email_field string_type" data-original-title="">Option2
            </th>
            
            <th  class="header pjax  email_field string_type" data-original-title="">Option3
            </th>
          <!--   <th  class="header pjax  mobile_field string_type" data-original-title="">Tax</th>
           
            <th class="header pjax  CreditCard_field string_type" data-original-title="">Tip</th>
            
            <th class="header pjax  CVV_field string_type" data-original-title="">Transaction</th> -->
            
            <th class="header pjax  CVV_field string_type" data-original-title="">**</th>
            
            <th class="header pjax  CVV_field string_type" data-original-title="">
            </th>            
            
            <th></th>



        </tr>
    </thead>
    <tbody>
    	<% @order_detail.each do |dish_order| %>

<%#= order.to_yaml %>
			<tr class="customer_row">
	            <td>
	                <input type="checkbox" value="1" id="bulk_ids_" name="bulk_ids[]">
	            </td>
	            <td title="1" class="id_field integer_type"><%= dish_order.dish.name %></td>
	            <td title="1" class="id_field integer_type"><%= dish_order.quantity %></td>
	            <td title="tester" class="name_field string_type"><%=dish_order.dish.id  %></td>
	            <td title="tester" class="name_field string_type"><%=dish_order.order.id %></td>
	            <td title="tester" class="name_field string_type"><%#= dish.dish_category.name %></td>
	            <td title=" - " class="CVV_field string_type"><a href="/admin/restaurant/<%#= dish.restaurant.id.to_s %>"><%#=dish.restaurant.name %></a></td>
	            <td title=" - " class="CVV_field string_type"><%#= dish.availablefrom %></td>

	            <td title=" - " class="CVV_field string_type"><%#= dish.availablefrom %></td>

	            <td title=" - " class="CVV_field string_type"><%#= dish.availablefrom %></td>

	            <td title=" - " class="CVV_field string_type"><%#= dish.availablefrom %></td>

	            <td title=" - " class="CVV_field string_type"><%#= dish.availablefrom %></td>

	            <td title=" - " class="CVV_field string_type"><%#= dish.availableto %>
	            </td>
	            <td class="last links">
	                <ul class="inline">
	                    <li class="icon show_member_link " rel="tooltip" title="Show">
	                        <a href="/admin/dish/<%#=dish.id.to_s %>" class="pjax">
	                        <i class="icon-info-sign"></i>
	                        <span style="display:none">Show</span>
	                        </a>
	                    </li>
	                    <li class="icon edit_member_link " rel="tooltip" title="Edit">
	                        <a href="/admin/dish/<%#=dish.id.to_s %>/edit" class="pjax">
	                        <i class="icon-pencil"></i>
	                        <span style="display:none">Edit</span>
	                        </a>
	                    </li>
	                    <li class="icon delete_member_link " rel="tooltip" title="Delete">
	                        <a href="/admin/dish/#{dish.id}/delete" class="pjax">
	                        <i class="icon-remove"></i>
	                        <span style="display:none">Delete</span>
	                        </a>
	                    </li>
	                    <li class="icon show_in_app_member_link " rel="tooltip" title="Show in app">
	                        <a href="/admin/dish/#{id}/show_in_app" class="">
	                        <i class="icon-eye-open"></i>
	                        <span style="display:none">Show in app</span>
	                        </a>
	                    </li>
	                </ul>
	            </td>
        	</tr>
		<% end %>        
    </tbody>
</table>






































<!-- 
<div>
<%# @dishes.each do |dish| %>

<%#= dish.name %>



<%#= dish.restaurant.name %>



<%#= dish.dish_category.name %>


<%# end %>

</div>
 -->
