<!DOCTYPE html>
<html>
<head>
  <title>Munchon</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" media="all" href="/assets/rails_admin/rails_admin-b13b9e8d372f1970f7a4b471de690b00.css?body=1" />
  <%= csrf_meta_tags %>
</head>
  <%= yield %>
</body>
</html>
